
.RaceData .table-sm thead th,
.RaceData .table-sm tbody td {
    border: 0;
    padding: 8px 6px 8px 6px;
}

.RaceData .table thead {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
}

.RaceData .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 10px;
}

.RaceData .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.RaceData .table-striped tbody tr:nth-of-type(even):hover,
.RaceData .table-striped tbody tr:nth-of-type(odd):hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}