
body {
    background: linear-gradient(135deg, #1B2F43 20%, #06121E 80%) no-repeat fixed;
    color: white;
}

button:focus,
button:active {
    outline: 0!important;
}

.red {
    color: #dc3545!important;
}

.bg-red {
    background-color: #dc3545!important;
}

.green {
    color: #28a745!important;
}

.bg-green {
    background-color: #28a745!important;
}

.yellow {
    color: #ffc107!important;
}

.bg-yellow {
    background-color: #ffc107!important;
}

.blue {
    color: #007bff!important;
}

.bg-blue {
    background-color: #007bff!important;
}

.gold {
    color: #ffc107!important;
}

.silver {
    color: silver!important;
}

.bronze {
    color: #cd7f32!important;
}

.none {
    display: none!important;
}