
.mercedes {
    color: #00cfba;
}

.ferrari {
    color: #c30000;
}

.red-bull {
    color: #00007D;
}

.force-india {
    color: #ff80c7;
}

.williams {
    color: #FFFFFF;
}

.toro-rosso {
    color: #0000FF;
}

.renault {
    color: #FFD800;
}

.haas {
    color: #6C0000;
}

.mclaren {
    color: #ff7b08;
}

.sauber {
    color: #006EFF;
}