
.mercedes {
    background-color: #00cfba;
}

.ferrari {
    background-color: #c30000;
}

.red-bull {
    background-color: #00007D;
}

.force-india {
    background-color: #ff80c7;
}

.williams {
    background-color: #FFFFFF;
}

.toro-rosso {
    background-color: #0000FF;
}

.renault {
    background-color: #FFD800;
}

.haas {
    background-color: #6C0000;
}

.mclaren {
    background-color: #ff7b08;
}

.sauber {
    background-color: #006EFF;
}