
.Tire .tire {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.Tire .tire.i {
    background-color: #80B742;
}

.Tire .tire.us {
    background-color: #D353E1;
}

.Tire .tire.ss {
    background-color: #CD4033;
}

.Tire .tire.s {
    background-color: #FEE361;
}

.Tire .tire.m {
    background-color: #E4E4E4;
}

.Tire .tire.h {
    background-color: #FE7338;
}

.Tire .tire.w {
    background-color: #4D96E7;
}