
.Tire .i {
    color: #80B742;
}

.Tire .us {
    color: #D353E1;
}

.Tire .ss {
    color: #CD4033;
}

.Tire .s {
    color: #FEE361;
}

.Tire .m {
    color: #E4E4E4;
}

.Tire .h {
    color: #FE7338;
}

.Tire .w {
    color: #4D96E7;
}